{% extends 'index.html' %}
{% block content %}
    <h1 class="text-center">Lista de Productos</h1>
        <table class="table table-dark table-sm"> 
            <thead>
                <tbody class="table-group-divider">
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Stock Actual</th>
                    <th>Proveedor</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for producto in productos %}
                <tr>
                    <td>{{ producto.id }}</td>
                    <td>{{ producto.nombre }}</td>
                    <td>{{ producto.precio }}</td>
                    <td>{{ producto.stock_actual }}</td>
                    <td>{{ producto.proveedor }}</td>
                    <td>
                        <a href="{{ '/update_prod' }}/{{ producto.id }}/" class="btn btn-light">Actualizar</a>
                        <a href="{{ '/delete_prod' }}/{{ producto.id }}/" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
        </table>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link btn btn-primary hover:bg-secondary" href="/provedores/">Lista de Proveedores</a>    
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-primary hover:bg-secondary" href="/create_prod/">Caragar Productos</a>    
                </li>
                <li>
                    <a class="nav-link btn btn-primary hover:bg-secondary" href="/">Inicio</a>
                </li>
            </ul>
        </div>
{% endblock  %}